.container {
    max-width: 800px;
}

.form-container {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 6px 5px;
    margin-bottom: 7px;

}

.form-control {
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 7px 20px rgba(0, 123, 255, 0.5);
}

